ion-searchbar.searchbar {
  --background: #ffffff;
  --placeholder-color: #555;
  --color: #000;
  --icon-color: #777;

  --border-radius: 25px;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  padding: 0 10px;
}
