.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 2rem;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  width: 10rem;
  height: auto;
}

.eslogan h1 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0 1rem;

  background: linear-gradient(90deg, #ffffff, #a8ff78);
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);

  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.eslogan p {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1rem;
  color: white;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);

  background-color: rgba(255,255,255,0.1);
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  display: inline-block;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
}

.botones {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 500px) {
  ion-content {
    --background: url('../../../assets/imagenes/fondo/foto-fondo-movil.png') no-repeat center center / cover;
  }

  .eslogan h1 {
    font-size: 1.6rem;
    font-weight: 800;
  }

  .eslogan p {
    font-weight: 300;

  }
}




