<ion-content [fullscreen]="true" class="register-page">
  <div class="register-container">

    <ion-header>
      <ion-img src="assets/imagenes/logo/Logo%20Smartchef.png"></ion-img>
    </ion-header>

    <div class="items">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Teléfono (Opcional)</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Dirección (Opcional)</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Ciudad (Opcional)</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">País (Opcional)</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CP (Opcional)</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-button expand="block" routerLink="/main" color="success">Crear cuenta</ion-button>
      <ion-button expand="block" fill="clear" routerLink="/">Volver</ion-button>
    </div>

  </div>

</ion-content>
