ion-content {
  background: url('../../../assets/imagenes/fondo/foto-fondo-movil.png') no-repeat center bottom / cover;
  --ion-background-color: transparent;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  gap: 1rem;
  padding: 2rem;
}

ion-header {
  display: flex;
  justify-content: center;
  background: transparent;
}

ion-header ion-img {
  width: 10rem;
  height: auto;
}

.items ion-item {
  --background: #e0f2f1;
  --ion-item-background: #e0f2f1;
  border-radius: 0.9rem;
  margin-bottom: 1rem;
}

.items ion-label {
  color: #00796b;
  font-size: 1.2rem;

}
.items ion-input {
  color: #004d40;
}




@media (max-width: 540px) {

  ion-content {
    gap: 2rem;
    padding: 1.5rem;
  }

  .items {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 15px rgba(0,0,0,0.25);
    backdrop-filter: blur(8px);
  }


}
