/* src/app/components/coleccion-receta-modal/coleccion-receta-modal.component.scss */

ion-header {
  ion-toolbar {
    --background: var(--ion-color-success);
    color: white;
  }
}

ion-content {
  --background: #f0f0f0;
}

ion-card {
  margin-top: 20px !important;
  border-radius: 12px;
  box-shadow: none;
}

ion-item {
  --min-height: 60px;
  --border-color: #eee;
}

ion-item h3 {
  font-weight: 600;
  color: #333;
}

.metadatos-line {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: #777;
}

.metadatos-line ion-icon {
  font-size: 1rem;
  margin-right: 4px;
  color: var(--ion-color-success);
}

.mensaje-vacio {
  text-align: center;
  padding: 20px;
  color: #777;
}
